<?xml version="1.0"?>
<!--
  ~ @author Interactiv4 Team
  ~ @copyright  Copyright © Interactiv4 (https://www.interactiv4.com)
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Interactiv4_CustomPost" setup_version="1.0.0">
        <sequence>
            <module name="Interactiv4_Post"/>
        </sequence>
    </module>
</config>